.Rproj.user
.Rhistory
.RData
.Ruserdata
funcAprox_actCrit.exe
funcAprox_actCrit.iobj
funcAprox_actCrit.ipdb
funcAprox_actCrit.pdb
./outb0.1_/FIA.timeInt.1001.txt
./outb0.2_/FIA.timeInt.1001.txt
./outb0_/FIA.timeInt.1001.txt
mHeight.png
sds.png
