.Rproj.user
.Rhistory
.RData
.Ruserdata
CleanFuncAprox.exe
CleanFuncAprox.iobj
CleanFuncAprox.ipdb
CleanFuncAprox.pdb
./outb0.1_/FIA.timeInt.1001.txt
./outb0.2_/FIA.timeInt.1001.txt
./outb0_/FIA.timeInt.1001.txt
