.Rproj.user
.Rhistory
.RData
.Ruserdata
funcAprox_actCrit.exe
funcAprox_actCrit.iobj
funcAprox_actCrit.ipdb
funcAprox_actCrit.pdb
./outb0.1_/FIA.timeInt.1001.txt
./outb0.2_/FIA.timeInt.1001.txt
./outb0_/FIA.timeInt.1001.txt
mHeight.png
sds.png
messages.txt
numSp9.png
rdNumSP0.8_.pdf
rdNumSP1_.pdf
rdNumSP2_.pdf
rdNumSP4_.pdf
rdNumSP5_.pdf
rdNumSP6_.pdf
rdNumSP7_.pdf